/* Footer */
.footer-btn {
  background-color: transparent;
  color: white;
  font-family: "Satoshi-Variable", sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid white;
  box-shadow: 0 0 0 0 white;
}

.footer-btn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 white;
}

.footer-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 white;
}
