@import "tailwindcss";

@font-face {
  font-family: "SF UI Display";
  src: url("/SFUIDisplay-Light.ttf");
  font-display: swap;
}

@theme {
  --color-dark: #262624;
  --color-light: #dde7e9;
  --color-accent: #cb2b37;
  --font-body: "SF UI Display", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border: 1px solid rgba(34, 34, 34, 0.7);
  border-radius: 10px;
}

.glass {
  @apply bg-gray-400/80 bg-clip-padding backdrop-filter backdrop-blur-sm;
}
