/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Notable&display=swap");
@import "tailwindcss";

@theme {
  --font-head: "Notable", sans-serif;
  --font-body: "Lexend", sans-serif;
  --color-dark: #262624;
  --color-light: #dde7e9;
  --color-accent: #cb2b37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-fade-in-delay {
  animation: fadeIn 1s ease-out 0.3s both;
} */
@import "tailwindcss";

@font-face {
  font-family: "SF UI Display";
  src: url("/SFUIDisplay-Light.ttf");
  font-display: swap;
}

@theme {
  --color-dark: #262624;
  --color-light: #dde7e9;
  --color-accent: #cb2b37;
  --font-body: "SF UI Display", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border: 1px solid rgba(34, 34, 34, 0.7);
  border-radius: 10px;
}

.glass {
  @apply bg-gray-400/80 bg-clip-padding backdrop-filter backdrop-blur-sm;
}
